body {
  font-family: 'Montserrat', sans-serif;
  background: #2E2E2E;
}

.btn {
  background: #D5205B;
  -webkit-border-radius: 5px;
          border-radius: 5px;
  width: 389px;
  height: 98px;
  font-weight: 500;
  font-size: 24px;
  line-height: 29px;
  letter-spacing: 0.03em;
  color: #FFF;
}

.title {
  font-weight: 200;
  font-size: 36px;
  line-height: 129.5%;
  letter-spacing: 0.11em;
  text-transform: uppercase;
  color: #FFF;
}

.line {
  width: 181px;
  height: 1px;
  background-color: #fff;
}

.container {
  margin: 0 auto;
  width: 1228px;
}

.main {
  background-color: #DFE7EF;
  min-height: 907px;
  padding: 70px 0 49px 0;
  position: relative;
}

.main__content {
  position: relative;
  z-index: 3;
}

.main__header {
  font-size: 20px;
  font-weight: 300;
  line-height: 129.5%;
  letter-spacing: 0.11em;
  text-transform: uppercase;
  color: #000;
}

.main__title {
  font-weight: 900;
  font-size: 64px;
  line-height: 129.5%;
  letter-spacing: 0.17em;
  text-transform: uppercase;
  color: #DFE7EF;
  -webkit-text-stroke: 2px #D5205B;
  text-shadow: 7px 5px 4px rgba(0, 0, 0, 0.06);
  margin-top: 27px;
}

.main__description {
  font-weight: 500;
  font-size: 20px;
  line-height: 30px;
  letter-spacing: 0.015em;
  color: #000;
  margin-top: 56px;
}

.main__btn {
  margin-top: 129px;
}

.main__event {
  font-weight: 400;
  font-size: 20px;
  line-height: 151.4%;
  letter-spacing: 0.015em;
  color: #000000;
  margin-top: 83px;
}

.main__event span {
  font-weight: 700;
  display: inline-block;
  margin-left: 21px;
}

.main__img {
  position: absolute;
  bottom: 0;
  right: 0;
  z-index: 1;
}

.for {
  padding-top: 75px;
  padding-bottom: 154px;
  position: relative;
}

.for__line {
  position: absolute;
  top: 146px;
  left: 0;
}

.for__title {
  margin-left: 105px;
}

.for__snake {
  position: absolute;
  top: 146px;
  left: 186px;
  z-index: 1;
}

.for__cards {
  position: relative;
  z-index: 2;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: baseline;
  -webkit-align-items: baseline;
      -ms-flex-align: baseline;
          align-items: baseline;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
  text-align: center;
  margin-top: 121px;
}

.for__cards-item {
  width: 310px;
}

.for__cards-item__img {
  margin-bottom: 52px;
}

.for__cards-item__title {
  font-weight: 500;
  font-size: 20px;
  line-height: 129.5%;
  text-align: center;
  color: #FFF;
}

.for__cards-item__text {
  margin-top: 74px;
  font-weight: 300;
  font-size: 17px;
  line-height: 135%;
  text-align: center;
  color: #FFF;
}

.know {
  position: relative;
  padding-bottom: 166px;
}

.know__snake {
  position: absolute;
  top: 20px;
  left: 106px;
}

.know__line {
  position: absolute;
  top: 23px;
  right: 0;
}

.know__title {
  text-align: right;
  margin-right: 105px;
}

.know__block {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
  -webkit-align-items: flex-end;
      -ms-flex-align: end;
          align-items: flex-end;
}

.know__header {
  font-weight: 500;
  font-size: 36px;
  line-height: 129.5%;
  color: #FFF;
  margin-top: 64px;
  margin-left: 75px;
}

.know__list {
  margin-top: 63px;
  margin-left: 105px;
  font-weight: 300;
  font-size: 17px;
  line-height: 129.5%;
  color: #FFFFFF;
}

.know__list-item {
  margin-bottom: 24px;
}

.know__list-item:last-child {
  margin-bottom: 86px;
}

.know__btn {
  margin-left: 75px;
}

.about {
  position: relative;
  padding-bottom: 187px;
}

.about__line {
  position: absolute;
  top: 23px;
  left: 0;
}

.about__title {
  margin-left: 105px;
}

.about__header {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 45px;
}

.about__header div {
  width: 50%;
}

.about__header-title {
  font-weight: 500;
  font-size: 36px;
  line-height: 151.4%;
  letter-spacing: 0.015em;
  text-transform: uppercase;
  color: #D5205B;
  display: block;
}

.about__blocks {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin-top: 44px;
  padding: 0 105px;
}

.about__photo-block {
  width: 50%;
}

.about__photo-block-inner {
  text-align: center;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
}

.about__photo-img {
  display: block;
  margin-bottom: 43px;
}

.about__photo-links {
  font-weight: 600;
  font-size: 20px;
  line-height: 24px;
  letter-spacing: 0.04em;
  color: #FFF;
}

.about__photo-links a {
  text-decoration: none;
  color: #FFF;
}

.about__photo-links span {
  margin: 0 54px;
}

.about__text-block {
  width: 50%;
  font-weight: 300;
  font-size: 17px;
  line-height: 151.4%;
  letter-spacing: 0.015em;
  color: #FFFFFF;
}

.about__text-block-item {
  margin-bottom: 26px;
}

.gifts {
  position: relative;
  padding-bottom: 23px;
}

.gifts__snake {
  position: absolute;
  top: 23.5px;
  left: 300px;
}

.gifts__title {
  font-weight: 600;
  font-size: 36px;
  line-height: 44px;
  color: #FFF;
  margin-bottom: 111px;
}

.gifts__blocks {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.gifts__text {
  font-weight: 300;
  font-size: 17px;
  line-height: 21px;
  color: #FFF;
  margin-left: 103px;
}

.gifts__img {
  margin-left: 122px;
  margin-top: 70px;
}

.gifts__form {
  padding: 0 75px;
  width: 494px;
  height: 491px;
  background: #FFFFFF;
  -webkit-border-radius: 30px;
          border-radius: 30px;
  text-align: center;
}

.gifts__form-title {
  font-weight: 600;
  font-size: 24px;
  line-height: 29px;
  text-transform: uppercase;
  color: #655D5D;
  margin-top: 64px;
  margin-bottom: 47px;
}

.gifts__form-input {
  width: 100%;
  height: 46px;
  background: #E5E5E5;
  -webkit-border-radius: 8px;
          border-radius: 8px;
  padding: 17px;
  margin-bottom: 8px;
}

.gifts__form-input:last-child {
  margin-bottom: 0;
}

.gifts__form-btn {
  width: 284px;
  height: 58px;
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
  letter-spacing: 0.04em;
  color: #F5EDED;
  margin-top: 64px;
}

.gifts__form-warning {
  font-weight: normal;
  font-size: 12px;
  line-height: 89%;
  text-align: center;
  color: #000000;
  opacity: 0.4;
  margin-top: 15px;
}

.footer {
  background: #534E4E;
  padding: 33px 0 28px 0;
}

.footer__text {
  font-weight: normal;
  font-size: 12px;
  line-height: 89%;
  color: #FFF;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
}

.footer__text a {
  color: #fff;
}

.footer__left {
  text-align: left;
}

.footer__right {
  text-align: right;
}
