body {
  font-family: 'Montserrat', sans-serif;
}

.btn {
  background: #D5205B;
  -webkit-border-radius: 5px;
          border-radius: 5px;
  width: 389px;
  height: 98px;
  font-weight: 500;
  font-size: 24px;
  line-height: 29px;
  letter-spacing: 0.03em;
  color: #FFF;
}

.title {
  font-weight: 200;
  font-size: 36px;
  line-height: 129.5%;
  letter-spacing: 0.11em;
  text-transform: uppercase;
  color: #FFF;
}

.line {
  width: 181px;
  height: 1px;
  background-color: #fff;
}

.container {
  margin: 0 auto;
  width: 1228px;
}

.main {
  background-color: #DFE7EF;
  min-height: 907px;
  padding: 70px 0 49px 0;
  position: relative;
}

.main__content {
  position: relative;
  z-index: 3;
}

.main__header {
  font-size: 20px;
  font-weight: 300;
  line-height: 129.5%;
  letter-spacing: 0.11em;
  text-transform: uppercase;
  color: #000;
}

.main__title {
  font-weight: 900;
  font-size: 64px;
  line-height: 129.5%;
  letter-spacing: 0.17em;
  text-transform: uppercase;
  color: #DFE7EF;
  -webkit-text-stroke: 2px #D5205B;
  text-shadow: 7px 5px 4px rgba(0, 0, 0, 0.06);
  margin-top: 27px;
}

.main__description {
  font-weight: 500;
  font-size: 20px;
  line-height: 30px;
  letter-spacing: 0.015em;
  color: #000;
  margin-top: 56px;
}

.main__btn {
  margin-top: 129px;
}

.main__event {
  font-weight: 400;
  font-size: 20px;
  line-height: 151.4%;
  letter-spacing: 0.015em;
  color: #000000;
  margin-top: 83px;
}

.main__event span {
  font-weight: 700;
  display: inline-block;
  margin-left: 21px;
}

.main__img {
  position: absolute;
  bottom: 0;
  right: 0;
  z-index: 1;
}

.for {
  background: #2E2E2E;
  padding-top: 75px;
  padding-bottom: 154px;
  position: relative;
}

.for__line {
  position: absolute;
  top: 146px;
  left: 0;
}

.for__title {
  margin-left: 105px;
}

.for__snake {
  position: absolute;
  top: 146px;
  left: 186px;
  z-index: 1;
}

.for__cards {
  position: relative;
  z-index: 2;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: baseline;
  -webkit-align-items: baseline;
      -ms-flex-align: baseline;
          align-items: baseline;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
  text-align: center;
  margin-top: 121px;
}

.for__cards-item {
  width: 310px;
}

.for__cards-item__img {
  margin-bottom: 52px;
}

.for__cards-item__title {
  font-weight: 500;
  font-size: 20px;
  line-height: 129.5%;
  text-align: center;
  color: #FFF;
}

.for__cards-item__text {
  margin-top: 74px;
  font-weight: 300;
  font-size: 17px;
  line-height: 135%;
  text-align: center;
  color: #FFF;
}

.know {
  background: #2E2E2E;
  position: relative;
  padding-bottom: 166px;
}

.know__snake {
  position: absolute;
  top: 20px;
  left: 106px;
}

.know__line {
  position: absolute;
  top: 23px;
  right: 0;
}

.know__title {
  text-align: right;
  margin-right: 105px;
}

.know__block {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
  -webkit-align-items: flex-end;
      -ms-flex-align: end;
          align-items: flex-end;
}

.know__header {
  font-weight: 500;
  font-size: 36px;
  line-height: 129.5%;
  color: #FFF;
  margin-top: 64px;
  margin-left: 75px;
}

.know__list {
  margin-top: 63px;
  margin-left: 105px;
  font-weight: 300;
  font-size: 17px;
  line-height: 129.5%;
  color: #FFFFFF;
}

.know__list-item {
  margin-bottom: 24px;
}

.know__list-item:last-child {
  margin-bottom: 86px;
}

.know__btn {
  margin-left: 75px;
}
